---
import Link from '../comp/link.astro';
import Layout from '../layouts/main.astro';
---
<Layout title="projects" desc='this is where ill put all of the weird things i make'>
    <p>
        welcome to my projects list, there isnt much here right now but ill keep making more weird things
        and you cant stop me
    </p>
    <p>---</p>

    <p>-on site links-</p>
    <span class="material-symbols-outlined md" onclick="getclickedboi('dropdown1')">expand_more</span>
    <div class="drop" id="dropdown1">
        <Link 
            url = "/projects/3/"
            title = "my enc format"
            dates = 28.04.2024
            desc = "it does its job :P"
        />
        <Link 
            url = "/projects/python/"
            title = "a python code project"
            dates = 02.05.2024
            desc = "a fun set of commands i made"
        />
        <Link 
            url = "/projects/js/"
            title = "a js code project"
            dates = 02.05.2024
            desc = "a fun set of commands i made * 2"
        />
		<div class="bar" id="holt2"/>
    </div>

    <p>---</p>

    <p>-github-</p>
    <span class="material-symbols-outlined md" onclick="getclickedboi('dropdown2')">expand_more</span>
    <div class="drop" id="dropdown2">
        <div id="github" />
    </div>
</Layout>
<script is:inline>
    function getclickedboi(id){
        let cu = document.getElementById(id);
        if (cu.style.height){
            cu.style.height = ("");
            cu.style.marginBottom = "0vh";
        }
        else{
            if(!cu.style.height){
                cu.style.height = (cu.scrollHeight + "px");
                cu.style.marginBottom = "2vh";
            }
        }
    }

    function compare(a, b) {
    if (a.watchers > b.watchers) {
        return -1
    }
    if (a.watchers < b.watchers) {
        return 1
    }
        return 0
    }

    const user = 'roxcelic';

    const apirepo = `https://api.github.com/users/${user}`;

    const listrepos = document.createElement('div');
    let line2 = document.createElement('div');
    line2.className = "bar";


    fetch(apirepo + '/repos')
        .then(response => response.json())
        .then(data => {
            data.sort(compare);

            data.forEach(v => {
                let lhref = document.createElement('a');
                lhref.href = v.html_url;
                let line = document.createElement('div');
                line.className = "bar";
                let listItemRepo = document.createElement('div');
                line.append(listItemRepo);
                listrepos.appendChild(lhref);
                lhref.appendChild(listItemRepo);
                lhref.appendChild(line);
                listItemRepo.id = "links";
                let listItemRepo2 = document.createElement('p');
                listItemRepo2.id = `${v.name}`;
                let listItemRepo3 = document.createElement('p');
                listItemRepo3.id = `${v.description}`;
                listItemRepo.appendChild(listItemRepo2);
                listItemRepo.appendChild(listItemRepo3);
                listItemRepo2.textContent = `${v.name}`;
                listItemRepo3.textContent = `${v.description}`;
            });

            document.getElementById('github').appendChild(line2);
            document.getElementById('github').appendChild(listrepos);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
</script>